body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

nav .navbar
{
  height: 53px !important;
}

.navbar-brand{
  margin-left: 50px;
}

.jumbotron
{
margin-top:50px;

}

.news{
  margin-top: 50px;
  margin-bottom: 50px;
}

.news img{
  margin-bottom: 20px;
}


.card{
margin:10px 10px 10px 10px;
min-width: 290px;
max-width: 286px;
max-height: 150px;

}

.articles{
  display: flex;
  flex-wrap: wrap;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    -webkit-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.1;
}


::-webkit-scrollbar-track-piece{
  opacity: 0.1;

}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:  rgba(0,72,119,0.8);
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}
::-webkit-scrollbar-thumb:window-inactive {
	background:rgba(0,72,119,0.8);
}


.logo{
  margin-left:auto;
  margin-right:auto;
}

#menu_btn i{
position:absolute;
color:white;
top:12px;
left:30px;
}
