body {
  min-height: 75rem;
  padding-top: 4.5rem;
  color: #232323;
  background-color: #eceeef;
}

nav .navbar {
  height: 53px !important;
}



.jumbotron {
  margin-top: 50px;
}

.news {
  margin-top: 50px;
  margin-bottom: 50px;
}

.news img {
  margin-bottom: 20px;
}

.articles > .card {
  margin: 10px 10px 10px 10px;
  min-width: 290px !important;
  max-width: 286px;
  max-height: 150px;
}

.tile{
  width: 350px;
}

.articles {
  display: flex;
  flex-wrap: wrap;
}


/* Let's get this party started */

::-webkit-scrollbar {
  width: 5px;
}



/* Track */

::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  -webkit-border-radius: 10px;
  border-radius: 10px;
  opacity: 0.1;
}

::-webkit-scrollbar-track-piece {
  opacity: 0.1;
}


/* Handle */

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(41,105,176,0.8);
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(41,105,176, 0.8);
}

.logo {
  margin-left: auto;
  margin-right: auto;
}

#menu_btn img {
  position: absolute;
  color: white;
  top: 12px;
  left: 35px;
  height: 36px;
}


.parallax {
    /* The image used */
    background-image: url("../img/docs.jpg");

    /* Set a specific height */
    height: 370px;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.front{

text-align: center;
color:white;
padding-top: 8%;

}

.front button{
  color: white;
  border: 1px solid white;

}

.front button:hover{
  color:#2969b0;
  border-color: #2969b0;
  background-color: none;
}


.identity{
  position:absolute;
  right:6%;
  top: 14%;
  cursor: default;
}

.identity img{
margin-bottom: 5px;
}



.boutton{
  border-radius: 53px;
    width: 43px !important;
    background-color: #2969b0;
}

.boutton img{
  margin-left: -7px;
}




/*------------------espace admin----------------*/

.number {
  border: 3px solid #292b2c;
  font-size: 18px;
  width: 120px;
  height: 120px;
  line-height: 111px;
  border-radius: 60px;
  margin-left: auto;
  margin-right: auto;
}

.col.scores {
  text-align: center;
}

.space {
  height: 80px;
}


.admin_bloc{
  padding: 10px;
 background-color: white;
  margin: 20px;
  width: 300px;
  height: 100px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
}

.admin_bloc.grand{
background-color: white;
  margin: 15px;
  width: 300px;
  height: 225px;
  margin-left: 23px;

}

.admin_bloc h2{
  text-align: center;
}

.admin_bloc.grand h2{
  margin-top: 50px;
}

.admin_panel{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 300px;

}

.card-block a {
  position: absolute;
  display: block;
  right: 20px;
  top:26px;
}

.articles .row{
  margin: 13px;
}

.card{
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
    border: none;
}

.cote{
  display:block;
  position:absolute;
  width:60px;
  height:100%;
  left:0px;
  background-color: #2969b0;
  border-radius: 3px;
  border: 1px solid #2969b0;
}

.tile > .card-block{
  padding: 10px;
  margin-left: 80px;

}

.cote img{
  width:30px;
  margin-left: 14px;
  margin-top: 32px;
}


.graph{
  height:500px;
  padding: 20px;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  background-color: #fdfdfb;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
}


#bar_chart{
  width:76% !important;
  height:50% !important;
}

#pie_chart{
  width: 23%  !important;
  height: 44% !important;
}

.tile .card-block{
  padding: 10px;
  margin-left: 80px;
}

/*------------------responsive----------------*/

@media screen and (max-width: 700px){

  .row{
    width:100% !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

  }

  .card-block a {
    position: absolute;
    display: block;
    right: 10px;
    top:25px;
  }

  .parallax{
    height: 200px;
  }

  .space{
    height:30px;
  }


  .card-title{
    margin-bottom: 4px;
    margin-top: 5px;
  }

  .identity span{
    display: none;
  }

  .identity {
    position: absolute;
    right: 7%;
    top: 24%;
}

    #bar_chart{
      width:100% !important;
      height: 100% !important;
    }

    #pie_chart{
      width: 100%  !important;
      height: 100% !important;
    }

#sections{
  padding-left: 0px;
}

.logo
  {
    margin-left: 35%;
  }


  .sidebar{
    z-index:1030;
    top:0px;

  }


}
