body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

nav .navbar
{
  height: 65px !important;
}

.navbar-brand{
  margin-left: 50px;
}

.jumbotron
{
margin-top:50px;

}

.news{
  margin-top: 50px;
  margin-bottom: 50px;
}

.news img{
  margin-bottom: 20px;
}




.card{
margin:10px 10px 10px 10px;
min-width: 350px;
max-width: 450px;
max-height: 150px;

}

.articles{
  display: flex;
  flex-wrap: wrap;
}
