body {
  padding-bottom: 40px;
  background-color: #2969b0;
  color:white;
  margin-top:240px;
  font-family: 'Raleway', Arial, sans-serif;

}

.form-signin {
  width: 300px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*custom css*/

input
{
  margin-bottom: 10px;
}

.login-cover{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;

}

@media screen and (max-width: 770px){

body{
  margin-top: 0px;
}

  .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  .container
{
margin-top: 40px;
  width: 100% !important;

}

.form-signin{
  width:78%;
  margin-top: -30px;
}
  }


.container{
width: 700px;
}


  #alert{
    visibility: hidden;
  }

  #login{
    background-color: #2969b0;
    color: white;
    border: 1px solid white;
  }


.logo{
  line-height: 255px;
}
